.vscode
console_app\__pycache__
console_app\executable\
console_app\executable\build
exchange\app\app_utils\__pycache__
exchange\app\__pycache__
exchange\exchange\__pycache__
exchange\.vs
exchange\job\__pycache__
*.pyc
exchange/app/static/mistery.css
console_app/BixChangeConsole.exe
